
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* animation */
@keyframes animation{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
}
@keyframes animation1{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50vw);
    }
}
@keyframes animation2{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateY(300px);
    }
}
@keyframes animText {
    0%{
        transform: translateX(50px);
        opacity: 0.2;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

/* font  */
h1{
    font-family: 'Lora', serif;
    font-weight: lighter;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

h3{
    font-family: 'Poppins', sans-serif;
}

p{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

/* slider */
.slick-prev::before,
.slick-next::before{
    display: none;
}
.custom-indicator {
    left: 0;
    top: 440px;
}